@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100vh;
  background-color: #F2F2F2;
  color: #333;
}

.left{
  text-align: left;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  background-color: #26528C;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.6px;
  border-top: 3px solid #F28080;
}

@keyframes move {
    0%   {transform: rotate(-10deg);}
    25%  {transform: rotate(10deg);}
    50%  {transform: rotate(-10deg);}
    75%  {transform: rotate(10deg);}
    100% {margin-left: 0; transform: rotate(-10deg);}
}

.nav-logo {
  color: #F2D95C;
  font-size: 2em;
  float: left;
  cursor: pointer;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.button {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin-left: 40px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F2D95C;
  color: #333;
  font-size: 1.02em;
  border-radius: 5px;
  transition: all 0.2s ease-in;

}

.button:hover {
  background: #C5A623;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

.question {
  display: flex;
  text-align: left;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  margin-left: 40px;
}

.field {
  width: 20%;
  height: 56px;
  border-radius: 4px;
  font-size: 15px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.field-button {
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F2D95C;
  color: #333;
  font-size: 1.02em;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  position: absolute;
}
